@mixin mainTitle() {
    font-family: $ft_main-title;
    font-weight: 600;
    font-size: $fs_huge;
}

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}

@mixin radius() {
    border-radius: $radius;
}

@mixin srOnly() {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
