$ft_main-title: 'Roboto';
$ft__main: 'Open Sans';

$fs_huge: 40px;
$fs_l: 20px;
$fs_m: 16px;
$fs_xs: 10px;

$white: #ffffffff;
$black: #000;
$c_bd: transparentize($black, .9);
$c_bg: #e6e8e6ff;
$c_primary: #191919ff;

$radius: 10px;